<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- <include file="$(find yolov5)/launch/pointgrey_camera.launch"></include> -->
    <include file="$(find yolov5)/launch/lbas_camera.launch"></include>
    <node pkg="yolov5" type="yolov5_node" name="yolov5_node" output="screen">
        <param name="yolov5_weights" value="../yolov5s_old.pt" />
        <param name="siamRPN_weights" value="../SiamRPNVOT.model" />

        <!-- yolov5 param-->
        <param name="imgsz" value="640" />
        <param name="conf_thres" value="0.25" /> <!-- confidence threshold -->
        <param name="iou_thres" value="0.45" /> <!-- NMS IOU threshold -->
        <param name="max_det" value="1000" /> <!-- maximum detections per image -->
        <param name="device" value="0" /> <!-- cuda device, i.e. 0 or 0,1,2,3 or cpu -->
        <param name="agnostic_nms" value="False" />
        <param name="augment" value="False" />
        <param name="line_thickness" value="3" /> <!-- bounding box thickness (pixels) -->
        <param name="half" value="False" /> <!-- use FP16 half-precision inference 在win环境测试发现计算加速幅度较小，linux环境有bug-->

        <!-- siamRPN param-->
        <param name="siamRPN_conf_thres" value="0.6" />
        <param name="diff_times" value="10" /> <!-- frames-->

        <param name="camera_field_angle_pitch" value="180" />
        <param name="camera_field_angle_yaw" value="135" /> <!-- 180*968/1288-->
        <param name="uav_size_x" value="0.3" />
        <param name="uav_size_y" value="0.15" />

        <param name="img_source" value="0" />
        <!-- 0: external camera 1:local camera 2:local image dir-->
        <param name="local_img_path" value="/home/cloude/camera_img2/*.jpg" />
        <param name="read_img_interval" value="0.2" />
        <param name="debug" value="False" />
        <param name="view_img" value="True" />
        <param name="save_img" value="False" />
        <param name="save_img_interval" value="0.2" />
        <param name="save_img_path" value="/home/cloude/camera_img4/" />
        <param name="track" value="False" />
    </node>
</launch>